<div class="content">
  <div class="toolbar mat-elevation-z8">
    <mat-toolbar>
      <div class="box1">
        <a [routerLink]="['/about']" class="title"> ICC</a>
      </div>
      <div class="box2">
        <a [routerLink]="['/about']"><mat-icon>home</mat-icon></a>
      </div>
    </mat-toolbar>
  </div>
  <div class="main">
    <mat-card>
      <mat-card-header>
        <mat-card-title
          ><mat-icon>person_add</mat-icon> Resigter user here..</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input
              matInput
              placeholder="First Name"
              [(ngModel)]="firstName"
              name="firstName"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Last Name"
              [(ngModel)]="lastName"
              name="lastName"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Email"
              [(ngModel)]="email"
              name="email"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Password"
              [(ngModel)]="password"
              name="password"
              [type]="hidePassword ? 'password' : 'text'"
              required
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="togglePasswordVisibility()"
            >
              <mat-icon class="password-icon">{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary">
            Register
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
