<div class="content">
  <mat-card>
    <mat-card-title>
      Who are we <mat-icon>question_mark</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>Our Company Profile</mat-card-subtitle>
    A Construction Chemicals Manufacturer and Supplier. Established in 1995 and
    located in Visakhapatnam (Andhra Pradesh), the company is engaged in
    offering Concrete Admixtures and Concrete Waterproofing Sealer. It is
    running very prolifically under the capable ownership of
    <strong>Mr. Surya Prakash Patnaik</strong>
  </mat-card>
  <div class="content-flex" fxLayout="row wrap" fxLayoutGap="16px grid">
    <mat-card fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
      <div>
        <mat-card-title>
          Who are we <mat-icon>question_mark</mat-icon>
        </mat-card-title>
        <mat-card-subtitle>Our Company Profile</mat-card-subtitle>
        A Construction Chemicals Manufacturer and Supplier. Established in 1995
        and located in Visakhapatnam (Andhra Pradesh), the company is engaged in
        offering Concrete Admixtures and Concrete Waterproofing Sealer. It is
        running very prolifically under the capable ownership of
        <strong>Mr. Surya Prakash Patnaik</strong>
      </div>
    </mat-card>

    <mat-card fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
      <div>
        <mat-card-title>
          Who are we <mat-icon>question_mark</mat-icon>
        </mat-card-title>
        <mat-card-subtitle>Our Company Profile</mat-card-subtitle>
        A Construction Chemicals Manufacturer and Supplier. Established in 1995
        and located in Visakhapatnam (Andhra Pradesh), the company is engaged in
        offering Concrete Admixtures and Concrete Waterproofing Sealer. It is
        running very prolifically under the capable ownership of
        <strong>Mr. Surya Prakash Patnaik</strong>
      </div>
    </mat-card>
    <mat-card fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="100%">
      <div>
        <mat-card-title>
          Who are we <mat-icon>question_mark</mat-icon>
        </mat-card-title>
        <mat-card-subtitle>Our Company Profile</mat-card-subtitle>
        A Construction Chemicals Manufacturer and Supplier. Established in 1995
        and located in Visakhapatnam (Andhra Pradesh), the company is engaged in
        offering Concrete Admixtures and Concrete Waterproofing Sealer. It is
        running very prolifically under the capable ownership of
        <strong>Mr. Surya Prakash Patnaik</strong>
      </div>
    </mat-card>
  </div>
</div>
