<div class="content">
  <div class="content-main">
    <mat-card>
      <mat-card-title> Who are we..? </mat-card-title>
      <mat-card-subtitle>Our Company Profile</mat-card-subtitle>
      <mat-card-content>
        A Construction Chemicals Manufacturer and Supplier. Established in 1995
        and located in Visakhapatnam (Andhra Pradesh), the company is engaged in
        offering Concrete Admixtures and Concrete Waterproofing Sealer. It is
        running very prolifically under the capable ownership of
        <strong>Mr. Surya Prakash Patnaik</strong>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="success">
          Learn more <mat-icon>double_arrow</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="content-flex" fxLayout="row wrap" fxLayoutGap="16px grid">
    <mat-card
      fxFlex="32%"
      fxFlex.xs="100%"
      fxFlex.sm="100%"
      class="mat-elevation-z4"
    >
      <div>
        <mat-card-title> Concrete Waterproofing Sealer </mat-card-title>
        <mat-card-content>
          Concrete Waterproofing Sealer, that we make available, is an excellent
          product with consistent high quality and proven, dependable
          efficiency. We make available premium Concrete Waterproofing Sealer
          that is guaranteed to give the most satisfactory water proofing
          performance, even in poorly graded cement concrete mix.
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="success">
            <mat-icon>visibility</mat-icon> View Details
          </button>
        </mat-card-actions>
      </div>
    </mat-card>

    <mat-card
      fxFlex="32%"
      fxFlex.xs="100%"
      fxFlex.sm="100%"
      class="mat-elevation-z4"
    >
      <div>
        <mat-card-title>Air Entraining Admixture</mat-card-title>
        <mat-card-content>
          Air Entraining Admixture, offered by us, is used for stabilizing
          microscopic air bubbles in concrete. Air Entraining Admixture will
          dramatically improve the durability of concrete, exposed to cycles of
          freezing and thawing. This Air Entraining Admixture greatly improves
          concrete resistance surface scaling. The workability of fresh concrete
          is improved significantly and segregation & bleeding are reduced/
          eliminated with Air Entraining Admixture that we offer.
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="success">
            <mat-icon>visibility</mat-icon> View Details
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card
      fxFlex="32%"
      fxFlex.xs="100%"
      fxFlex.sm="100%"
      class="mat-elevation-z4"
    >
      <div>
        <mat-card-title> Retarding Admixture </mat-card-title>
        <mat-card-content>
          Retarding Admixtures are used to delay the rate of setting of
          concrete. We make available Retarding Admixture that does not decrease
          the initial temperature of concrete. The bleeding rate and bleeding
          capacity of concrete is increased with Retarding Admixture. Retarding
          Admixtures, that we provide, are useful in extending the setting time
          of concrete, but they are also used in attempts to decrease slump loss
          and extend workability.
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="success">
            <mat-icon>visibility</mat-icon> View Details
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
