<h1 mat-dialog-title class="heading">Price Calculations</h1>
<mat-dialog-content class="mat-typography">
  <!-- {{ data | json }} -->
  <div>
    <mat-list role="list">
      <mat-list-item
        class="content"
        role="listitem"
        *ngIf="data.product1.productSelected"
        ><div class="dialog-main-row">
          <p>LEAKSEAL - 1 ltr</p>
          <small class="text-muted"
            >{{ data.product1.quantity }} cartons with unit price -
            {{
              data.product1.unitPrice | currency : "INR" : "symbol" : "1.0-0"
            }}</small
          >
        </div>
        <div>
          <span class="monetory-value">{{
            data.product1.quantity * data.product1.unitPrice
              | currency : "INR" : "symbol" : "1.0-0"
          }}</span>
        </div></mat-list-item
      >
      <mat-list-item
        class="content"
        role="listitem"
        *ngIf="data.product2.productSelected"
        ><div class="dialog-main-row">
          <p>LEAKSEAL - 5 ltr</p>
          <small class="text-muted"
            >{{ data.product2.quantity }} cartons with unit price -
            {{
              data.product2.unitPrice | currency : "INR" : "symbol" : "1.0-0"
            }}</small
          >
        </div>
        <div>
          <span class="monetory-value">{{
            data.product2.quantity * data.product2.unitPrice
              | currency : "INR" : "symbol" : "1.0-0"
          }}</span>
        </div></mat-list-item
      >
      <mat-list-item
        class="content"
        role="listitem"
        *ngIf="data.product3.productSelected"
        ><div class="dialog-main-row">
          <p>LEAKSEAL - 100 ml</p>
          <small class="text-muted"
            >{{ data.product3.quantity }} cartons with unit price -
            {{
              data.product3.unitPrice | currency : "INR" : "symbol" : "1.0-0"
            }}</small
          >
        </div>
        <div>
          <span class="monetory-value">{{
            data.product3.quantity * data.product3.unitPrice
              | currency : "INR" : "symbol" : "1.0-0"
          }}</span>
        </div></mat-list-item
      >
      <mat-list-item
        class="content discount"
        role="listitem"
        *ngIf="data.tradeDiscount"
        ><div class="dialog-main-row discount-bar">
          <p>Trade Discount</p>
          <small class="text-muted"
            >{{ data.tradeDiscountValue }}% on amount -
            {{
              getProductsAbsoluteValue() | currency : "INR" : "symbol" : "1.0-0"
            }}</small
          >
        </div>
        <div>
          <span class="monetory-value">{{
            getDiscount("TRADE") | currency : "INR" : "symbol" : "1.0-0"
          }}</span>
        </div></mat-list-item
      >
      <mat-list-item
        class="content discount"
        role="listitem"
        *ngIf="data.cashDiscount"
        ><div class="dialog-main-row discount-bar">
          <p>Cash Discount</p>
          <small class="text-muted"
            >{{ data.cashDiscountValue }}% on amount -
            {{
              getProductsAbsoluteValue() - getDiscount("TRADE")
                | currency : "INR" : "symbol" : "1.0-0"
            }}</small
          >
        </div>
        <div>
          <span class="monetory-value">{{
            getDiscount("CASH") | currency : "INR" : "symbol" : "1.0-0"
          }}</span>
        </div></mat-list-item
      >
      <mat-list-item
        class="content tax"
        role="listitem"
        *ngIf="data.orderScope != 'offline'"
        ><div class="dialog-main-row tax-bar">
          <p>GST</p>
          <small *ngIf="data.orderScope == 'state'" class="text-muted"
            >CGST - 9% + SGST - 9%</small
          >
          <small *ngIf="data.orderScope == 'interState'" class="text-muted"
            >IGST - 18%</small
          >
        </div>
        <div>
          <span class="monetory-value">{{
            getTaxValue() | currency : "INR" : "symbol" : "1.0-0"
          }}</span>
        </div></mat-list-item
      >
      <mat-list-item class="content" role="listitem" class="total-row"
        ><div class="dialog-main-row total-amount">
          <p><b>Total Amount</b></p>
        </div>
        <div>
          <span class="total-value">{{
            getTotalAmount() | currency : "INR" : "symbol-narrow"
          }}</span>
        </div></mat-list-item
      >
    </mat-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Edit</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
    Save Order
  </button>
</mat-dialog-actions>
