.bottom-div {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; /* Set the width to 100% to cover the full width of the viewport */
  padding: 1em; /* Example padding for the bottom div */
  box-sizing: border-box; /* Include padding in the width calculation */
  text-align: center;
  color: #c7cbd4;
}
