table {
  width: 100%;
}
th {
  font-size: 12px;
  font-weight: bolder;
  background-color: #dee5ec;
}

.container {
  max-height: 85vh;
  max-width: 100%;
  overflow: auto;
}

.mat-column-salesPersonName,
.mat-column-invoiceDate,
.mat-column-companyName {
  min-width: 110px;
  padding-right: 15px;
}
.mat-column-orderId {
  min-width: 68px;
}

.mat-progress-bar {
  /* color: #0f172b; */
  color: red;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #0f172b;
}

.no-content {
  text-align: left;
  padding-top: 10px;
  .name {
    margin-top: -12px;
    font-size: 1rem;
    color: red;
  }
  button {
    background: none;
    text-decoration-line: underline;
    padding: 0px;
    color: #0f172b;
  }
}
.content {
  height: calc(100vh - 120px);
  overflow: auto;
}
.spinner-item {
  display: grid;
  place-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  ::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #0f172b;
  }
}

.complete-message {
  padding: 10px 0 10px 0;
  text-align: center;
  font-style: oblique;
  font-size: 1rem;
  span {
    line-height: 50px;
  }
  mat-icon {
    height: 21px;
    padding: 0 5px 0 5px;
  }
}
