<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="isError" class="no-content">
  <p class="name">
    {{ loadingMessage }}
    <button mat-flat-button onclick="window.location.reload()">
      Try again!!
    </button>
  </p>
</div>
<div class="container mat-elevation-z8">
  <cdk-virtual-scroll-viewport #scroller itemSize="72" class="content">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="invoiceDate"
      matSortDirection="desc"
    >
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order ID</th>
        <td mat-cell *matCellDef="let order">{{ order.orderId }}</td>
      </ng-container>

      <ng-container matColumnDef="salesPersonName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Person</th>
        <td mat-cell *matCellDef="let order">{{ order.salesPersonName }}</td>
      </ng-container>

      <ng-container matColumnDef="invoiceDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Date</th>
        <td mat-cell *matCellDef="let order">
          {{ order.invoiceDate | date: "medium" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
        <td mat-cell *matCellDef="let order">{{ order.companyName }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div *ngIf="loadMore" class="spinner-item">
      <mat-progress-spinner [mode]="'indeterminate'" [diameter]="30">
      </mat-progress-spinner>
    </div>
    <div class="complete-message" *ngIf="completeMessage.length > 0">
      <mat-icon fontIcon="done_all"></mat-icon>
      <span> {{ completeMessage }} </span>
      <mat-icon>thumb_up</mat-icon>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
