table {
  width: 100%;
}
th {
  font-size: 12px;
  font-weight: bolder;
  background-color: #dee5ec;
}

.container {
  max-height: 85vh;
  max-width: 100%;
  overflow: auto;
}

.mat-column-salesPersonName,
.mat-column-invoiceDate,
.mat-column-companyName {
  min-width: 110px;
  padding-right: 15px;
}
.mat-column-orderId {
  min-width: 68px;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #0f172b;
}

.content {
  height: calc(100vh - 120px);
  overflow: auto;
}
.spinner-item {
  display: grid;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  ::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #0f172b;
  }
}

::ng-deep snack-bar-container.error-snackbar {
  background-color: #0f172b;
  font-weight: bold;
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button {
    color: #911f1f;
    font-size: 15px;
    font-weight: bold;
  }
}
::ng-deep snack-bar-container.good-snackbar {
  background-color: #0f172b;
  font-weight: bold;
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button {
    font-size: 15px;
    font-weight: bold;
  }
}
mat-icon {
  text-align: center;
  width: 100%;
  padding: 1px 0px 1px 0px;
  // margin-left: 10px;
  // font-size: 28px;
}
mat-icon:hover {
  background-color: #c0d0e0;
  border-radius: 9px;
  text-shadow: 1px 1px 1px;
}
.edit_color {
  color: #283593;
}
.download_color {
  color: #9b0f0f;
}
td.mat-table-sticky {
  border-left: 2px solid #e0e0e0;
}
td.mat-column-orderActions {
  max-width: 51px;
  min-width: 20px;
  padding-right: 8px;
  // background-color: #dee5ec;
}
td.mat-cell:last-of-type {
  padding-right: 0px;
}
