table {
  width: 100%;
}
th {
  font-size: 12px;
  font-weight: bolder;
  background-color: #dee5ec;
}

.container {
  max-height: 75vh;
  max-width: 100%;
  overflow: auto;
}

.mat-column-salesPersonName,
.mat-column-invoiceDate,
.mat-column-companyName {
  min-width: 110px;
  padding-right: 15px;
}
.mat-column-orderId {
  min-width: 68px;
}
