mat-stepper {
  // background-color: #dee5ec;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  padding-left: 16px;
  width: 30vw;
  min-width: 200px;
}
.content-flex {
  mat-card {
    // background-color: #dee5ec;
    box-shadow: none;
    border-radius: 0px;
  }
}
.semi-fields {
  // width: 30vw;
  .mat-form-field {
    // display: flex;
    // align-items: center;
    width: 14.5vw;
    min-width: 200px;
  }
}
.special-fields {
  // width: 30vw;
  .mat-form-field {
    // display: flex;
    padding-left: 0;
    width: 18vw;
    min-width: 200px;
  }
}
.input-row {
  b {
    color: #0f172b;
    padding-left: 16px;
  }
  // max-width: 200px;
  // display: flex;
  // align-items: center;
  .mat-form-field {
    width: 8.5vw;
    // max-width: 130px;
    min-width: 90px;
  }
}

.discount {
  // margin: 12px 0;
  padding: 12px 0;
}
.mat-checkbox {
  padding: 0 0 12px 0;
}
