mat-sidenav {
  background-color: #0f172b;
  width: 230px;
  height: 100%;
}

mat-sidenav-content {
  height: 100vh;

  .main {
    background-color: #dee5ec;
    padding: 20px 20px 20px 20px;
    // margin: 30px 30px 30px 30px;
    // margin-top: 30px;
    height: 100%;
    min-height: calc(100vh - 105px);
  }
}

mat-toolbar {
  background-color: #c7cbd4;
  mat-icon {
    margin-left: 15px;
    color: gray;
  }
  justify-content: space-between;
  .box2 {
    margin-top: 15px;
  }
  .box1 {
    mat-icon {
      margin-top: 15px;
      margin-left: 10px;
    }
    .title {
      color: gray;
      font-family: fantasy;
      font-size: 2rem;
      text-shadow: 1px 1px 3px;
      letter-spacing: 2px;
      text-decoration: none;
    }
  }
}

.toolbar {
  position: sticky;
  top: 0px;
  z-index: 10000;
}

.blur-background {
  backdrop-filter: blur(8px); /* Increase the blur value */
  pointer-events: none; /* Prevents the background from capturing click events */
  opacity: 0; /* Initially set the opacity to 0 */
  transition: opacity 0.3s ease; /* Add a transition for smooth fading effect */
}

.blur-background.show {
  opacity: 1; /* Change the opacity to 1 to show the background */
}
