<mat-sidenav-container class="container">
  <mat-sidenav #sidebar mode="side" opened="">
    <app-sidebar (navBarToggleFlag)="toggleFlag($event)"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar mat-elevation-z8">
        <mat-toolbar>
          <div class="box1">
            <a *ngIf="mobileHeader" [routerLink]="['/about']" class="title"
              >ICC</a
            >
            <mat-icon matRipple (click)="sidebar.toggle()">
              {{ menuIconName }}
            </mat-icon>
          </div>
          <div class="box2">
            <!-- <app-search></app-search> -->
            <mat-icon
              matTooltip="Press 'Ctrl + F' to launch"
              *ngIf="!isSearchDialogOpen"
              [class.blur-background]="isSearchDialogOpen"
              [class.show]="isSearchDialogOpen"
              (click)="openSearchDialog()"
              >search</mat-icon
            >
            <a [routerLink]="['/about']"><mat-icon>home</mat-icon></a>
            <a [routerLink]="['/auth/login']"><mat-icon>login</mat-icon></a>
            <a [routerLink]="['/auth/register']"
              ><mat-icon>person_add</mat-icon></a
            >
          </div>
        </mat-toolbar>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
