<div class="navbar">
  <div class="title-banner">
    <p></p>
    <p>Indo Construction</p>
    <p>Chemicals<mat-icon>roofing</mat-icon></p>
  </div>
  <mat-divider></mat-divider>
  <div class="menu-item" *ngIf="isLoggedIn(); else defaultAvatar">
    <div class="avatar-div">
      <img
        class="avatar mat-elevation-z8"
        src="assets/default_user.png"
        (mouseenter)="showUploadIcon = true"
        (mouseleave)="showUploadIcon = false"
      />
      <mat-icon class="upload-icon" *ngIf="showUploadIcon">upload</mat-icon>
    </div>

    <h4 class="name">{{ getName() }}</h4>
    <button
      mat-button
      class="menu-button"
      [routerLink]="['/update-profile']"
      (click)="toggleNavBar()"
    >
      <mat-icon>edit_note</mat-icon>
      <span>Profile</span>
    </button>
  </div>
  <ng-template #defaultAvatar>
    <div class="menu-item">
      <div class="avatar-div">
        <img
          class="avatar-default mat-elevation-z8"
          src="assets/default_user.png"
          (mouseenter)="showUploadIcon = true"
          (mouseleave)="showUploadIcon = false"
        />
      </div>
      <h4 class="name">Guest</h4>
      <button
        mat-button
        class="menu-button"
        [routerLink]="['/auth/login']"
        (click)="toggleNavBar()"
      >
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
    </div>
    <mat-divider></mat-divider>
  </ng-template>
  <mat-divider *ngIf="isLoggedIn()"></mat-divider>
  <div class="menu-item">
    <button
      mat-button
      class="menu-button"
      [routerLink]="['/about']"
      routerLinkActive="active"
      (click)="toggleNavBar()"
    >
      <mat-icon>group</mat-icon>
      <span>About Us</span>
    </button>
    <button
      *ngIf="isLoggedIn()"
      mat-button
      class="menu-button"
      [routerLink]="['/dashboard']"
      routerLinkActive="active"
      (click)="toggleNavBar()"
    >
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button
      mat-button
      class="menu-button"
      [routerLink]="['/products']"
      routerLinkActive="active"
      (click)="toggleNavBar()"
    >
      <mat-icon>category</mat-icon>
      <span>Products</span>
    </button>
    <button
      *ngIf="isLoggedIn()"
      mat-button
      class="menu-button"
      [routerLink]="['/create-order']"
      routerLinkActive="active"
      (click)="toggleNavBar()"
    >
      <mat-icon>add_circle</mat-icon>
      <span>Order</span>
    </button>
    <button
      *ngIf="isLoggedIn()"
      mat-button
      class="menu-button"
      [routerLink]="['/inventory']"
      routerLinkActive="active"
      (click)="toggleNavBar()"
    >
      <mat-icon>inventory_2</mat-icon>
      <span>Inventory</span>
    </button>
  </div>
</div>
