<div class="navbar">
  <div class="title-banner">
    <p></p>
    <p>Indo Construction</p>
    <p>Chemicals<mat-icon>roofing</mat-icon></p>
  </div>
  <mat-divider></mat-divider>
  <div class="menu-item" *ngIf="isLoggedIn()">
    <img class="avatar mat-elevation-z8" src="assets/img.jpg" />
    <h4 class="name">Dilip Kumar Patnaik</h4>
    <button
      mat-button
      class="menu-button"
      [routerLink]="['/update-profile']"
      (click)="toggleNavBar()"
    >
      <mat-icon>edit_note</mat-icon>
      <span>Profile</span>
    </button>
  </div>

  <mat-divider *ngIf="isLoggedIn()"></mat-divider>
  <div class="menu-item">
    <button
      mat-button
      class="menu-button"
      [routerLink]="['/about']"
      (click)="toggleNavBar()"
    >
      <mat-icon>group</mat-icon>
      <span>About Us</span>
    </button>
    <button
      *ngIf="isLoggedIn()"
      mat-button
      class="menu-button"
      [routerLink]="['/dashboard']"
      (click)="toggleNavBar()"
    >
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button
      mat-button
      class="menu-button"
      [routerLink]="['/products']"
      (click)="toggleNavBar()"
    >
      <mat-icon>category</mat-icon>
      <span>Products</span>
    </button>
    <button
      *ngIf="isLoggedIn()"
      mat-button
      class="menu-button"
      [routerLink]="['/create-order']"
      (click)="toggleNavBar()"
    >
      <mat-icon>add_circle</mat-icon>
      <span>Order</span>
    </button>
    <button
      *ngIf="isLoggedIn()"
      mat-button
      class="menu-button"
      [routerLink]="['/inventory']"
      (click)="toggleNavBar()"
    >
      <mat-icon>inventory_2</mat-icon>
      <span>Inventory</span>
    </button>
  </div>
</div>
