mat-form-field {
  width: 300px;
}
/* Track */
::-webkit-scrollbar {
  // width: 1px; /* Adjust the width of the scrollbar */
  height: 3px;
  border-radius: 1px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Adjust the background color of the track */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #c1bdbd; /* Adjust the color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Adjust the color of the handle when hovered */
}

.chip-filter {
  background-color: #e0e0e0;
  color: #333;
  border-radius: 16px;
  margin-right: 8px;
  padding: 4px 8px;
  cursor: pointer;
}

.chip-filter.mat-chip-selected {
  background-color: #3f51b5;
  color: #fff;
}
.mat-option-highlight {
  font-weight: 100;
}

/* new */
.search-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  /* padding: 8px; */
  /* background-color: #f0f0f0; */
  border-radius: 4px;
}

.search-chip {
  background-color: #e0e0e0;
  color: #333333;
}

.search-input {
  flex: 1;
  // display: flex !important;
}
.search-input1 {
  // flex: 1;
  display: flex !important;
}
.search-icons {
  font-size: 1.4em;
  padding-top: 6px;
  padding-right: 2px;
}
.selected-search-icons {
  font-size: 1.4em;
  padding-top: 6px;
  padding-right: 2px;
}
.no_data_text {
  font-weight: 400;
  color: red;
}
.mat-option {
  height: 64px !important;
  padding: 10px !important;
  border-bottom: solid 1px #c1bdbd;
}
.main_block {
  padding: 1px;
  border: solid 2px #c1bdbd;
  height: 3em;
  border-radius: 0.7em 0em 0em 0.7em;
  display: flex;
  overflow-x: overlay;
  overflow-y: hidden;
}
@media (max-width: 400px) {
  .main_block {
    overflow-x: overlay;
    overflow-y: hidden;
  }
  .main_title {
    font-size: 1.5em !important;
  }
}
.main_title {
  font-size: 2em;
  padding-right: 1vh;
  font-weight: 300;
  border-right: dotted 2px #c1bdbd;
  height: fit-content;
}
.secondary_title {
  font-size: 75%;
  line-height: 5px;
  padding: 4px 14px;
}
.secondary_title_icon {
  font-size: 14px !important;
  height: 10px !important;
}
.custom-icon {
  font-family: "FontName"; /* Replace with the name of the custom font */
  margin-right: 5px; /* Adjust spacing as needed */
}
::ng-deep .mat-autocomplete-panel.mat-autocomplete-visible {
  visibility: visible;
  /* padding: 0px 0px; */
  margin: 0px -24px;
  width: 43em !important;
}
// .custom-size {
//   visibility: visible;
//   /* padding: 0px 0px; */
//   margin: 0px -24px;
//   width: 43em !important;
// }

.mat-standard-chip.mat-chip-with-trailing-icon {
  margin-right: 0.5em;
  background-color: #673ab7;
  font-weight: 500;
  white-space: nowrap;
  color: #fff;
}
.mat-icon {
  overflow: inherit !important;
}
