<div class="search-container">
  <mat-chip-list *ngIf="!selectedFilter">
    <mat-chip
      [selected]="selectedFilter === filterOption.value"
      (click)="selectFilter(filterOption)"
      class="search-chip"
      *ngFor="let filterOption of filters"
    >
      <mat-icon class="search-icons">{{ filterOption.icon }}</mat-icon>
      {{ filterOption.label }}
    </mat-chip>
  </mat-chip-list>
  <mat-form-field class="search-input">
    <div class="search-input1">
      <!-- <mat-chip [removable]="true">Hi</mat-chip> -->
      <mat-chip
        *ngFor="let filter of selectedFilterList"
        (removed)="removeFilter()"
      >
        <mat-icon class="selected-search-icons">done</mat-icon>
        {{ filter }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        #filterInput
        type="text"
        [placeholder]="searchLabel"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
      <mat-icon matSuffix>search</mat-icon>
    </div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngIf="isLoadingResults" class="loading-option">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-option>
      <mat-option
        class="no_data_text"
        *ngIf="
          !isLoadingResults &&
          searchControl.value &&
          (filteredOptions | async)?.length == 0
        "
      >
        No results found.</mat-option
      >
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.salesPersonName"
        (click)="OptionSelected(option)"
      >
        <!-- <span [innerHTML]="highlightMatch(option)"></span> -->
        <div class="main_block">
          <p
            class="main_title"
            [innerHTML]="highlightMatch1(option.salesPersonName)"
          ></p>
          <div class="secondary_title">
            <p>
              <b><u [innerHTML]="highlightMatch1(option.companyName)"></u> </b>
            </p>
            <p>
              <span class="custom-icon">&#64;</span>{{ option.address }},
              {{ option.address2 }}
            </p>
            <p>
              <span class="custom-icon">&#9742;</span>+91-{{
                option.phoneNumber
              }}
            </p>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
