<div class="search-container">
  <mat-chip-list>
    <mat-chip
      [selected]="selectedFilter === filterOption.value"
      (click)="selectFilter(filterOption.value)"
      class="search-chip"
      *ngFor="let filterOption of filters"
    >
      {{ filterOption.label }}
    </mat-chip>
  </mat-chip-list>
  <mat-form-field class="search-input">
    <input
      type="text"
      placeholder="Search"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngIf="!hasResults"> no results</mat-option>
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.salesPerson"
      >
        <span [innerHTML]="highlightMatch(option)"></span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
